doctype html
html
    head
        title expressjs

    body
        span
            h1 welcome to Smart health counseling
        p Please login to proceed

        form(method="post",name="form",id="form")
            input(type="text",placeholder="Enter your username",name="username")
            br
            br
            input(type="password",placeholder="Enter your password",name="username")
            br

            input(type="submit",value="login")


        p You don't have an account plesase register here
        p 
             a(href="/signUp") SignUp

